<section class="h-100">
    {{#or role.isAdmin role.isArtist}}
    <div class="container mt-4">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/tracks/new" class="btn btn-primary">Agregar Canci&oacute;n</a>
        </div>
    </div>
    {{/or}}
    <div class="container mt-4 p-4">
        {{#if results}}

        {{#if results.tracks}}
        <div class="tracks-found">
            <h3>Canciones encontradas</h3>
            <div class="dropdown-divider"></div>
            {{#each results.tracks as |track|}}
            <div class="card text-white bg-dark mb-3" data-track-id="{{track._id}}">
                <div class="row">
                    <div class="col-md-2 text-center m-auto">
                        <i class="fa-solid fa-play" data-track-file-id="{{track.trackFileId}}"
                            onclick="playAudio(this)"></i>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h6 class="card-title">{{track.name}}</h6>
                            <p class="card-text"><small class="text-muted">{{track.artistId.name}}</small></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 0%" id="progress"></div>
                            </div>
                            <audio id="player" hidden="true" preload="none"
                                src="http://localhost:4000/tracks/play/{{track.trackFileId}}"></audio>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}

        {{#if results.artists}}
        <div class="artists-found">
            <h3>Artistas encontrados</h3>
            <div class="dropdown-divider"></div>
            {{#each results.artists as |artist|}}
            <div class="card text-white bg-dark mb-3" data-track-id="{{artist._id}}">
                <div class="row">
                    <div class="col-md-10">
                        <div class="card-body">
                            <h6 class="card-title">{{artist.name}}</h6>
                            <p class="card-text"><small class="text-muted">{{join artist.genres ', '}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}

        {{else}}

        {{#each tracks as |track|}}
        <div class="card text-white bg-dark mb-3" data-track-id="{{track._id}}">
            <div class="row">
                <div class="col-md-2 text-center m-auto">
                    <i class="fa-solid fa-play" data-track-file-id="{{track.trackFileId}}"
                        onclick="playAudio(this)"></i>
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h6 class="card-title">{{track.name}}</h6>
                        <p class="card-text"><small class="text-muted">{{track.artistId.name}}</small></p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" id="progress"></div>
                        </div>
                        <audio id="player" hidden="true" preload="none"
                            src="http://localhost:4000/tracks/play/{{track.trackFileId}}"></audio>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        {{/if}}
    </div>
</section>
