{{!-- Recorremos la lista de trucks --}}
{{#each tracks as |track|}}
<div class="card text-white bg-dark bg-gradient mb-3" data-track-id="{{track._id}}">
    <div class="row">
        <div class="col-md-1 col-1 text-center m-auto">
            <i class="fa-solid fa-play" data-track-file-id="{{track.trackFileId}}" onclick="playAudio(this)"></i>
        </div>
        <div class="col-md-10 col-10">
            <div class="card-body">
                <h6 class="card-title">{{track.name}} <span class="card-text mx-1"><small
                            class="text-muted fst-italic">{{track.artistId.name}}</small></span></h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" id="progress"></div>
                </div>
                <audio id="player" hidden="true" preload="none"
                    src="http://localhost:4000/tracks/play/{{track.trackFileId}}"></audio>
            </div>
        </div>
        <div class="col-md-1 col-1 text-center m-auto">
            <div class="dropdown">
                <div class="w-50 h-50" role="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-track-id="{{track._id}}"
                            onclick="getTrackToAdd(this)" data-bs-target="#showPlaylists" href="#">Agregar a
                            playlist</a></li>
                    <li><a class="dropdown-item" href="/artists/{{track.artistId._id}}">Ver artista</a></li>
                    <li><a class="dropdown-item" href="#">Ver creditos</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{/each}}

<!-- Modal para playlist -->
<form action="/profile/playlists/track" method="post">
    <div class="modal fade" id="showPlaylists" tabindex="-1" aria-labelledby="showPlaylists" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showPlaylists">Tus playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{!-- Si existen playlist --}}
                    {{#if playlists}}
                    <div class="list-group">
                        {{!-- Recorremos las playlist --}}
                        {{#each playlists as |playlist|}}
                        <label class="list-group-item">
                            {{!-- Checkbox de "agregar a la playlist" --}}
                            <input class="form-check-input me-1" name="playlistId" type="checkbox"
                                value="{{playlist._id}}">
                            {{!-- Nombre de la playlist --}}
                            {{playlist.name}}
                        </label>
                        {{/each}}
                        <input type="hidden" name="trackId" id="trackId">
                    </div>
                    {{!-- Si no existen playlist permitimos crearla --}}
                    {{else}}
                    <a class="btn btn-primary" href="/profile/playlists/new">Crear playlist</a>
                    {{/if}}
                </div>
                {{!-- Botones de cerrar y guardar --}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/js/main.js"></script>